[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
SyslogIdentifier=zookeeper
EnvironmentFile=-/etc/sysconfig/zookeeper
User=zookeeper
Group=zookeeper
WorkingDirectory=/var/lib/zookeeper

ExecStart=/usr/bin/java \
  -Dzookeeper.log.dir=/var/log/zookeeper \
  -Dlogback.configurationFile=/etc/zookeeper/logback.xml \
  -cp /usr/lib/zookeeper/lib/* \
  $JAVA_OPTS \
  org.apache.zookeeper.server.quorum.QuorumPeerMain \
  /etc/zookeeper/zoo.cfg

StandardOutput=journal
StandardError=journal
SuccessExitStatus=130
KillSignal=SIGINT
ProtectSystem=full

[Install]
WantedBy=multi-user.target
